{% extends 'base.html.twig' %}

{% block title %}Alimentassocie{% endblock %}

{% block body %}
    <h1>Alimentassocie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idaliment</th>
                <td>{{ alimentassocie.idaliment }}</td>
            </tr>
            <tr>
                <th>Idprofile</th>
                <td>{{ alimentassocie.idprofile }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ alimentassocie.qte }}</td>
            </tr>
            <tr>
                <th>Repas</th>
                <td>{{ alimentassocie.repas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alimentassocie_index') }}">back to list</a>

    <a href="{{ path('alimentassocie_edit', {'idaliment': alimentassocie.idaliment}) }}">edit</a>

    {{ include('alimentassocie/_delete_form.html.twig') }}
{% endblock %}
