{% extends 'back.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block header %}Categorie{% endblock %}

{% block breadcrumb %}Categorie{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Categorie</h3>
        </div>

        <div class="box-body">

            <table style="margin-bottom: 15px;" class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ categorie.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ categorie.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ categorie.description }}</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn bg-purple btn-flat" href="{{ path('categorie_index') }}"><i class="fa fa-fw fa-arrow-left"></i> back to list</a>

            <a class="btn bg-purple btn-flat" href="{{ path('categorie_edit', {'id': categorie.id}) }}"><i class="fa fa-edit"></i> edit</a>

            {{ include('categorie/_delete_form.html.twig') }}

        </div>
    </div>
{% endblock %}
