{% extends 'back.html.twig' %}

{% block title %}Commande{% endblock %}

{% block header %}Commande{% endblock %}

{% block breadcrumb %}Commande{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Liste des Commandes</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                    <div class="input-group-btn">
                        <a href="{{ path('commande_new') }}" class="btn bg-purple btn-flat"><i class="fa fa-plus"></i> Ajouter une commande</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Idpanier</th>
                        <th>Email</th>
                        <th>Traite</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.idpanier }}</td>
                        <td>{{ commande.email }}</td>
                        <td>{{ commande.traite ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('commande_show', {'id': commande.id}) }}"><i class="fa fa-eye"></i></a>
                            <a href="{{ path('commande_edit', {'id': commande.id}) }}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
