{% extends 'back.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Emailcompte</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>Poids</th>
                <th>Taille</th>
                <th>Objectif</th>
                <th>Nbrepas</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.emailcompte }}</td>
                <td>{{ profile.sexe }}</td>
                <td>{{ profile.age }}</td>
                <td>{{ profile.poids }}</td>
                <td>{{ profile.taille }}</td>
                <td>{{ profile.objectif }}</td>
                <td>{{ profile.nbrepas }}</td>
                <td>
                    <a href="{{ path('profile_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('profile_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_new') }}">Create new</a>
{% endblock %}
