{% extends 'back.html.twig' %}

{% block title %}Aliment{% endblock %}

{% block header %}Aliment{% endblock %}

{% block breadcrumb %}Aliment{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Aliment</h3>
        </div>

        <div class="box-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom Aliment</th>
                    <td>{{ aliment.nom }}</td>
                </tr>
                <tr>
                    <th>Lipides</th>
                    <td>{{ aliment.fats }}</td>
                </tr>
                <tr>
                    <th>Glucides</th>
                    <td>{{ aliment.carbs }}</td>
                </tr>
                <tr>
                    <th>Proteines</th>
                    <td>{{ aliment.proteins }}</td>
                </tr>
                <tr>
                    <th>Calories</th>
                    <td>{{ aliment.calories }}</td>
                </tr>
                <tr>
                    <th>Source Type</th>
                    {% if aliment.type == 0 %}
                        <td>Proteines</td>
                    {% endif %}
                    {% if aliment.type == 1 %}
                        <td>Glucides</td>
                    {% endif %}
                    {% if aliment.type == 2 %}
                        <td>Lipides</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>

            <a class="btn bg-purple btn-flat" href="{{ path('aliment_index') }}"><i class="fa fa-fw fa-arrow-left"></i> Retour à la liste </a>

            <a class="btn bg-purple btn-flat" href="{{ path('aliment_edit', {'id': aliment.id}) }}"><i class="fa fa-edit"></i> Modifier </a>

            {{ include('aliment/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
